build**
!build_and_run.sh

# LaTeX temporary files
*.aux
*.log
*.toc
*.fls
*.lof
*.lot
*.synctex*

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Custom
*.docx